{% extends "layout.html" %}

{% block title %}
<title>BibleShare Login</title>
{% endblock title %}

{% block content %}

  <h1> BibleShare Login</h1>


  <form action = "{{url_for('checkLogin')}}" method = "post" >
    <input name = "username" type = "text"/>
    <input name = "password" type = "password"/>
    <input type = "submit" value = "Submit" />
  </form>

  {% if error %}
    <p>{{ error }}</p>
  {% endif %}

  <br>
  <p> Click to add user </p>
  <button>Add User</button>

{% endblock content %}
